.last-new-tweet {
    border-bottom: 1px solid black;
}

.go-to-last {
    display:inline;
    padding:10px;
    position:absolute;
    right:-90px;
    top:0;
}
.go-to-last i {
     background-image: url("twitter-more_icons.png") !important;
     background-position: 0px 0px;
     height: 19px;
     width: 18px;
}
.go-to-last:hover i {
    background-position: 0px -30px;
}

/* hide ads */
.promoted-tweet {
    display:none;
}
